<!DOCTYPE html>
<html  ng-app="basictwitter">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basic Twitter</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>
<body>
    <div ng-controller="navbar" class="navbar navbar-default navbar-fixed-top">
        <div class="container" style="width:initial">
            <div class="navbar-header">
                <a href="#" class="navbar-brand" style="font-size: 180%; padding-top: 20px">Twitter Basic</a>             
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right">
                    <li><a><button ng-hide='bahar' ng-click='goHome("global")' type="button" class="btn btn-default form-control">Global feed</button></a></li>
                    <li><a><button ng-hide='bahar' ng-click='goHome("personal")' type="button" class="btn btn-default form-control">Personal feed</button></a></li>
                    <li><a><button ng-hide='bahar' ng-click='gotoProfile()' type="button" class="btn btn-primary form-control">Profile</button></a></li>
                    <li><a><button ng-hide='bahar' type="button" ng-click='exit()' class="btn btn-danger form-control">Signout</button></a></li>  
                </ul>
            </div>
        </div>
    </div>
    <div ng-view></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-messages.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/controller.js"></script>
    <script src="js/app/service.js"></script>
    <script src="js/app/directives.js"></script>
</body>
</html>
